#Environment
.project
.settings
.gradel/
.classpath
hs_err_pid12160.log

#Minecraft files
asm/
banned-ips.json
banned-players.json
bin/
build/
config/
crash-reports/
eula.txt
logs/
ops.json
options.txt
realms_persistence.json
saves/
server.properties
usercache.json
usernamecache.json
whitelist.json
/world
screenshots/

#other
1.11/src/main/resources/assets/magitech/util/field_map.json
1.11/src/main/resources/assets/magitech/util/method_map.json