#Environment
.project
.settings
.gradel
.classpath

#Minecraft files
asm/
banned-ips.json
banned-players.json
bin/
build/
config/
crash-reports/
eula.txt
logs/
ops.json
options.txt
realms_persistence.json
saves/
server.properties
usercache.json
usernamecache.json
whitelist.json
./world/
